#download {
    .card {
        padding: 3rem 1.5rem 15rem;
        position: relative;

        .guy-screaming {
            width: 32.5%;
            position: absolute;
            bottom: 0;
            right: -3.5rem;
            height: 115%;
        }

        .text-screaming {
            max-width: 70%;
        }
    }

    .buttons {
        flex-wrap: wrap;
        margin-top: 2rem;
    }

    @media (width >= 80en) {
        .card {
            padding: 0.75rem 5rem;

            & > div:nth-child(1) {
                max-width: 40rem;
            }

            & > imf {
                width: 29.125rem;
            }
        }
    }
}